/* Header Styles */
.header {
  align-items: center;
  background-color: var(--gray-dark);
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.logo-container {
  margin: 20px;
}

@media screen and (max-width: 40em) {
  .header {
    flex-direction: column;
    padding: 20px 10px;
  }
  .logo-conatiner {
    margin-bottom: 0;
    width: 75px;
  }
}
